<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {%if '/details' in request.path%}active{%endif%}" href="details">Tổng quan</a>
    </li>
    {% comment %} <li class="nav-item">
        <a class="nav-link" href="problemsetter">Ban ra đề</a>
    </li> {% endcomment %}
    <li class="nav-item">
        <a class="nav-link {%if '/testcases' in request.path%}active{%endif%}" href="testcases">Test Case</a>
    </li>
    <!--
    <li class="nav-item">
        <a class="nav-link" href="languages">Languages</a>
    </li>
    -->
    <li class="nav-item">
        <a class="nav-link {%if '/settings' in request.path%}active{%endif%}" href="settings">Cài đặt</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {%if '/customchecker' in request.path%}active{%endif%}" href="customchecker">Trình chấm ngoài</a>
    </li>
</ul>