{%extends 'admin-template/_layout/base.html' %} 
{%load static %} 
{%block website_content %}
<!-- Content Header (Page header) -->
<link rel="stylesheet" href="{% static 'plugins/simplemde/css/simplemde.min.css' %}">
<link rel="stylesheet" href="{% static 'problem/css/editProblemDetails.css' %}">

<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-left">
					<li class="breadcrumb-item"><a href="/admin/">Home</a></li>
					<li class="breadcrumb-item active"><a href="/admin/problems/">Problems</a></li>
					<li class="breadcrumb-item active"><a href="details" >Edit</a ></li>
				</ol>
			</div>
		</div>
		{%include 'admin-template/_layout/error_handle.html' %} 
        {%block error_handle%}{%endblock%}
	</div>
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card-body p-0">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link active" href="details">Details</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="problemsetter">Problem Setter</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="testcases">Test Case</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="languages">Languages</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="settings">Setting</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="customchecker">Custom Checker</a>
						</li>
					</ul>

					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="nav-home">
							<div class="container">
								<form method="post" url="">
									{% csrf_token %}
									<div class="row">
										<div class="col-12 mb-3">
											<div class="row">
												<div class="input-group mb-3" style="margin-top: 15px">
													<span class="input-group-text" style="width: 15%;">Problem name</span>
													<input type="text"  class="form-control" placeholder="Problem name" value="{{problem.fullname}}" name="fullname" />
												</div>
                                                <div class="input-group mb-3" style="margin-top: 15px">
													<span class="input-group-text" style="width: 15%;">Short name</span>
													<input type="text"  class="form-control" placeholder="Short name" value="{{problem.shortname}}" name="shortname" />
												</div>
												<div class="input-group mb-3" style="margin-top: 15px">
													<span class="input-group-text" style="width: 15%;">Publish date</span>
													<input type="text"  class="form-control" value="{{problem.publish_date}}" readonly/>
												</div>
                                                <div class="input-group mb-3" style="margin-top: 15px">
													<span class="input-group-text" style="width: 15%;">Difficult</span>
													<input type="text"  class="form-control" placeholder="Difficult" value="{{problem.difficult}}" name="difficult" />
												</div>
                                                <div class="input-group mb-3" style="margin-top: 15px; align-items: center">
													<span class="input-group-text" style="width: 15%;">Categories</span>
													{%for cate in list_categories %}
                                                        <div class="form-check">
                                                            <input  type="checkbox"
                                                                    value="{{cate}}" 
                                                                    name="list_categories[]"
                                                                    {% if cate in problem.categories%}checked{%endif%}>
                                                            <label class="form-check-label">{{cate}}</label>
                                                            </div>
                                                    {%endfor%}
												</div>
												<div class="input-group mb-3">
													<span class="input-group-text" style="width: 15%;">Points per test</span>
													<input type="text"  class="form-control" placeholder="Point per test" value="{{problem.points_per_test}}" name="points_per_test" />
												</div>
												<div class="input-group mb-3">
													<label class="input-group-text" style="width: 15%;">Statement</label>
                                                    <div style="width: 85%;">
                                                        <textarea class="form-control" id="statement" placeholder="Statment" name="statement">{{problem.statement}}</textarea>
                                                    </div>
												</div>
                                                
                                                <div class="input-group mb-3">
													<label class="input-group-text" style="width: 15%;">Constraints</label>
                                                    <div style="width: 85%;">
                                                        <textarea class="form-control" id="constraints_statement" placeholder="constraints_statement" name="constraints_statement" >{{problem.constraints_statement}}</textarea>
                                                    </div>
												</div>
                                                <div class="col-6" style="padding-left: 0;">
                                                    <div class="input-group mb-3" id="input">
                                                        <label class="input-group-text" style="width: 100%;">Input</label>
														<div style="width: 100%;">
															<textarea class="form-control" id="input_statement" placeholder="input_statement" name="input_statement" >{{problem.input_statement}}</textarea>
														</div>
                                                    </div>
                                                </div>
                                                <div class="col-6" style="padding-right: 0;">
                                                    <div class="input-group mb-3" id ="output">
                                                        <label class="input-group-text" style="width: 100%;">Output</label>
														<div style="width: 100%;">
															<textarea class="form-control" id="output_statement" placeholder="output_statement" name="output_statement" >{{problem.output_statement}}</textarea>
														</div>
                                                    </div>
                                                </div>
											</div>
										</div>
										<div class="col-12">
											<div class="text-center">
												<input class="btn btn-primary" type="submit" value="Save change">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="{% static 'plugins/jquery/jquery.min.js'%}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'plugins/simplemde/js/simplemde.min.js'%}"></script>
<script src="{% static 'problem/js/editProblemDetails.js'%}"></script>
<!-- /.content -->
{%endblock%}
