{%extends 'user-template/_layout/base.html' %}
{%load static %}
<link href="{% static 'user-static/css/problem/listproblem.css' %}" rel="stylesheet" type="text/css" />

{%block website_content %}
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-left">
						<li class="breadcrumb-item"><a href="/problems">Danh sách bài tập</a></li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<!-- /.content-header -->
	<!-- Main content -->
	<div class="content">
		{%include 'admin-template/_layout/error_handle.html' %} 
		{%block error_handle %}{%endblock%}
		<div class="row">
			<div class="col-12">
				<form class="form-inline  row justify-content-center" role="form">
					<div class="form-group center-block" style="margin:5px;">
						<input type="text" id = "search" class="form-control" placeholder="ID / tên bài tập">
					</div>
					<div class="form-group center-block" style="margin:5px;">
						<div class="row">
							<div class="col col-lg-4">
								<select class="form-control" id="selectType">
									<option value=""></option>
									<option value="ACM">ACM</option>
									<option value="OI">OI</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div style="overflow: auto;" class="categoryBoxes">
							<div class="listCatgories"></div>	
						</div>
					</div>
					<div class="form-group" style="margin:5px;">
						<select class="form-control" id="selectCategory" style="display: none; float: right; width: 100%" onchange="chooseCategory()">
							<option value=""></option>
							{%for x in list_categories %}
								<option value="{{x}}" title="{{x}}">{{x}}</option>
							{% endfor %}
						</select>
						<a id="addCatetory" href="#" onclick="showSelect()">Thêm danh mục</a>
					</div>
					<div class="form-group">
						<a class="btn btn-primary" onclick="goNewPage(1,'')">Tìm bài tập</a>
					</div>
				</form>
				</div>
			</div>
		</div>

		<div>
			{%for row in rows%}
				<div class="row justify-content-md-center">
					{%for problem in row%}
					<div class="col col-xl-2 col-md-4">
						<div class="card text-center" style="height: 350px;">
							<h5 class="card-header text-center">
								<div class="row" style="text-align:center;margin-bottom:10px;">
									<div class="col-12 text-center">
										<a href="/problem/{{problem.shortname}}">{{problem.shortname}}</a>
									</div>
								</div>
								<div class="row">
									<div class="col-12 text-center">
										<a href="/problem/{{problem.shortname}}">{{problem.fullname}}</a>
									</div>
								</div>
							</h5>
							<div class="card-body">
								{% comment %} <div class="row">
								{%for author in problem.author.all%}
									<div class="col">
										<img src="{{author.usersetting.avatar}}" height="auto" width="110" padding="5px">
									</div>
								{%endfor%}
								</div> {% endcomment %}
								<div class="row">
									<div class="col-12">
										{%for cate in problem.categories.all%}
											<div class="btn btn-secondary btn-sm" style="margin:2px;">
												<a href="/problems/?category={{cate}}" style="text-decoration:none;color:white;padding:0px;margin:0px;">{{cate}}</a>
											</div>
										{%endfor%}
									</div>
								</div>
							</div>
							<div class="card-footer">
								<div class="row">
									{% comment %} <div class="col col-6">
										Hoàn tất: {{problem.problemstatisticsmodel.solvedCount}} 
									</div> {% endcomment %}
									<div class="col col-12">
										Độ khó: {{problem.get_difficult_display}}
									</div>
								</div>
							</div>
						</div>
					</div>
					{%endfor%}
				</div>
			{%endfor %}
		</div>

		<div>
			<input type="hidden" id="page_current" value="{{page_obj.number}}">
			<input type="hidden" id="page_total" value="{{page_obj.paginator.num_pages}}">
			<nav aria-label="Page navigation example" style="margin-top: 2rem;">
				<ul class="pagination justify-content-center" id="Pagination">
					<li class="page-item" id="first" onclick="goFirst()">
						<a class="page-link" href = "javascript:;" tabindex="-1" style="height: 38px;">
							<i class="fas fa-angle-double-left" aria-hidden="true"></i>
						</a>
					</li>
					<li class="page-item" id="previous" onclick="previous()">
						<a class="page-link" href="javascript:;" style="height: 38px;">
							<i class="fas fa-angle-left" aria-hidden="true"></i>
						</a>
					</li>
					<li class="page-item" id="next" onclick="next()">
						<a class="page-link" href = "javascript:;" tabindex="-1" style="height: 38px;">
							<i class="fas fa-angle-right" aria-hidden="true"></i>
						</a>
					</li>
					<li class="page-item" id="end" onclick="goEnd()">
						<a class="page-link" href="javascript:;" style="height: 38px;">
							<i class="fas fa-angle-double-right" aria-hidden="true"></i>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>

	<script src="{% static 'plugins/jquery/jquery.min.js'%}"></script>
	<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
	<script src="{% static 'user-static/js/problem/index.js' %}"></script>
	<!-- /.content -->
<div hidden>
<div class="col col-lg-4">
<input type="text" id = "minDifficult" class="form-control" placeholder="Min">
</div>
<div class="col col-lg-4">
<input type="text" id = "maxDifficult"  class="form-control" placeholder="Max">
</div>
</div>
{%endblock%}
