{%extends 'admin-template/_layout/base.html' %} {%block website_content %}
<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-left">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item active">Language</li>
					<li class="breadcrumb-item active">Create</li>
				</ol>
			</div>
		</div>
		{%include 'admin-template/_layout/error_handle.html' %} 
		{%block error_handle%}{%endblock%}
	</div>
</div>
<!-- /.content-header -->
<div class="content">
	<div class="container-fluid">
		<div class="row justify-content-xl-center">
			<div class="col-xl-7">
				<span style="font-size: 32px; justify-content: center">Create New Language</span>
				<form method="POST" url="">
					{% csrf_token %}
					<div class="form-group">
						<label for="lang_name">Language Name:</label>
						<input type="text" class="form-control" id="lang_name" name="lang_name" placeholder="Python"/>
					</div>
					<div class="form-group">
						<label for="lang_ext">Language Extension</label>
						<input type="text" class="form-control" id="lang_ext" name="lang_ext" placeholder="py"/>
					</div>
					<div class="form-group">
						<label for="lang_description">Language Description</label>
						<textarea class="form-control" id="lang_description" name="lang_description" rows="5" placeholder=""></textarea>
					</div>
					<div class="form-group">
						<label for="lang_compile_command">Language Compile Command</label>
						<code><input type="text" class="form-control"  id="lang_compile_command" name ="lang_compile_command" placeholder=""/></code>
					</div>
					<div class="form-group">
						<label for="lang_run_command">Language Run Command</label>
						<code><input type="text" class="form-control" id="lang_run_command" name ="lang_run_command" placeholder=""/></code>
					</div>
					<button class="btn btn-primary float-right" type="submit">Create New</button>
				</form>
			</div>
		</div>
	</div>
</div>

{%endblock%}
