{%extends 'admin-template/_layout/base.html' %}

{% load static %}

{%block website_content %}
	<link rel="stylesheet" href="{% static 'category/css/style.css' %}">
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-left">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active">Category</li>
					</ol>
				</div>
			</div>
			{%include 'admin-template/_layout/error_handle.html' %} 
			{%block error_handle %}{%endblock%}
		</div>
	</div>
	<!-- /.content-header -->

	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-6">
					<div style="height: 50px">
						<!-- Button trigger modal -->
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createCategory">
							Create New Category
						</button>
					</div>


					<div class="list-group" id="list-tab" role="tablist" style="height: 400px; overflow-y:auto">
						{% for x in list_categories %}
							<a class="list-group-item list-group-item-action" id="{{x.name}}" data-bs-toggle="list" href="#list-{{x.id}}" role="tab" aria-controls="list-home">{{x.name}}</a>
						{% endfor %}
					</div>
				</div>
				<div class="col-6">
					<div class="card text-dark bg-light mb-3">
						<div class="card-footer text-center"> 
							Description 
						</div>
						<div class="card-body" style="height: 200px;">
							<div class="tab-content" id="nav-tabContent">
								{% for x in list_categories %}
									<div class="tab-pane fade show" id="list-{{x.id}}" role="tabpanel" aria-labelledby="{{x.name}}">{{x.description}}</div>
									
									<div style="position: absolute; bottom: 1rem; left: 1rem" >
										<a class="btn btn-secondary" role="button" onclick="showProblem()">View Problems</a>
									</div>

									<div style="position: absolute; bottom: 1rem; right: 1rem" >
										<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#editCategory" id="{{x.name}}" onclick="getCategoryInfo(0)">Edit Tag</button>	
										<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteCategory" id="{{x.name}}" onclick="getCategoryInfo(1)">Delete Tag</button>	
									</div>

								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Modal Create New Category-->
	<div class="modal fade" id="createCategory" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header text-center">
					<h5 class="modal-title" id="exampleModalLabel">Create New Category</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form method="POST" url="/admin/categories/"> 
						<p id = "addMessage"></p>
						<div class="form-group">
							<label for="inputName">Category Name</label>
							<input class="form-control" id="inputName" placeholder="Enter category name">
							<small id="emailHelp" class="form-text text-muted">Category Name must be different "All"</small>
						</div>
						<div class="form-group">
							<label for="description">Description</label>
							<textarea class="form-control" cols="30" rows="10" id="description"></textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" onclick="addNewCategory()">Save changes</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal Edit Category-->
	<div class="modal fade" id="editCategory" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header text-center">
					<h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form method="POST" url="/admin/categories/"> 
						<div class="form-group">
							<label for="inputEditName">Category Name</label>
							<input type="email" class="form-control" id="inputEditName" aria-describedby="emailHelp" placeholder="Enter category name">
							<small id="emailHelp" class="form-text text-muted">Category Name must be different "All"</small>
						</div>
						<div class="form-group">
							<label for="editDescription">Description</label>
							<textarea class="form-control" cols="30" rows="10" id="editDescription"></textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" onclick="editCategory()">Save changes</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal CDelete Category-->
	<div class="modal fade" id="deleteCategory" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header text-center">
					<h5 class="modal-title" id="exampleModalLabel">Delete Category</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Do you want to delete this tag?</p>
					<form method="POST" url="/admin/categories/"> 
						<p id = "addMessage"></p>
						<div class="form-group">
							<input class="form-control" id="inputDeleteName" placeholder="Enter category name" style="display: none;">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" onclick="deleteCategory()">Delete</button>
				</div>
			</div>
		</div>
	</div>

	<script>
		var CSRF_TOKEN = '{{ csrf_token }}';
	 </script>
	<script src="{% static 'plugins/jquery/jquery.min.js'%}"></script>
	<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
	<script src="{% static 'category/js/index.js' %}"></script>
{%endblock%}