{%extends 'user-template/_layout/base.html' %}
{% load static %}
{%block website_content %}
{%include 'admin-template/_layout/error_handle.html' %} 
{%block error_handle%}{%endblock%}
    <div class="content">
        <div class="container-fluid">
            <div class=""></div>
            <div class="row justify-content-md-center" style="padding-top: 15rem">
                <div class="col col-6">
                    <form method="POST" url="">
                        {%csrf_token%}
                        <div class="form-group">
                            <label for="oldPassword">Mật khẩu cũ:</label>
                            <input type="password" class="form-control" id="oldPassword" name ="old_password" placeholder="Old Password">
                        </div>
                        <div class="form-group">
                            <label for="newPassword">Mật khẩu mới: </label>
                            <input type="password" class="form-control" id="newPassword" name = "new_password1" placeholder="New Password">
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Xác nhận mật khẩu: </label>
                            <input type="password" class="form-control" id="confirmPassword" name = "new_password2" placeholder="confirm Password">
                        </div>
                        <button type="submit" class="btn btn-primary float-right mt-4">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
        
	<script src="{% static 'plugins/jquery/jquery.min.js'%}"></script>
	<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
{%endblock%}