{%extends 'admin-template/_layout/base.html' %}
{%block website_content %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="admin">Dashboard</a></li>
                    </ol>
                </div>
            </div>
            {%include 'admin-template/_layout/error_handle.html' %} 
			      {%block error_handle %}{%endblock%}
        </div>
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box bg-info">
                    <div class="inner">
                      <h3> {{problems_count}} </h3>
      
                      <p>New Problems</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-bag"></i>
                    </div>
                    <a href="/admin/problems/" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box bg-success">
                    <div class="inner">
                      <h3>53<sup style="font-size: 20px">%</sup></h3>
      
                      <p>Bounce Rate</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box bg-warning">
                    <div class="inner">
                      <h3>{{users_count}}</h3>
      
                      <p>User Registrations</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-person-add"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box bg-danger">
                    <div class="inner">
                      <h3>65</h3>
      
                      <p>Unique Visitors</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <!-- ./col -->
            </div>
            <div class="row">
                <div class="col-lg-3 text-center">
                    <span><b>Sach Bai Tap Moi Them Vao</b></span>
                    {% for x in list_problems %} 

                    <div class="card" style="background-color: navajowhite;">
                        <div class="card-body">
                            <p class="card-text" style="font-size: 15px; float: left; margin-bottom: 5px">STT : {{x.id}}</p>
                            <p class="card-text" style="font-size: 15px; float: left; margin-bottom: 5px">Shortname : {{x.shortname}}</p>
                            <p class="card-text" style="font-size: 15px; float: left">Author : {{x.author.name}}</p>
                        </div>
                    </div>
                    {% endfor%}
                    </div>
            </div>
        </div>
    </div>
    <!-- /.content-header -->
{%endblock%}