{%extends 'admin-template/contest/edit/_layout/base.html' %}
{%block contestcontent %}
		
	<div class="content">
		<div class="container-fluid">
			<div class="row justify-content-md-center">
				<div class="col-xl-6">
					<div class=""></div>
					<div class="mt-40">
						<form action="" method="post">
							{% csrf_token %}
							<div class="row">
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text">Tên kỳ thi</div>
									</div>
									<input type="text" class="form-control" id="inlineFormInputGroupUsername" name="title" value="{{title}}" placeholder="Tên kỳ thi">
								</div>
							</div>
							<div class="row mt-3">
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text">Thông tin</div>
									</div>
									<input type="text" class="form-control" id="inlineFormInputGroupUsername" name="desc" value="{{desc}}" placeholder="Description">
								</div>
							</div>
							<div class="row mt-3">
								<div class="col col-6">
									<div class="row">
										<div class="input-group">
											<div class="input-group-prepend">
												<div class="input-group-text">Ngày bắt đầu</div>
											</div>
											<input type="datetime-local" class="form-control" name="startTime" value="{{startTime|date:"Y-m-d\TH:i"}}">
										</div>
									</div>
								</div>
								<div class="col col-6 float-right">
									<div class="row">
										<div class="input-group">
											<div class="input-group-prepend">
												<div class="input-group-text">Ngày kết thúc</div>
											</div>
											<input type="datetime-local" class="form-control" name="endTime" value="{{endTime|date:"Y-m-d\TH:i"}}">
										</div>
									</div>
								</div>
							</div>
							<button type="submit" class="btn btn-primary mt-3 float-right" type="submit">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{%endblock%}