{%extends 'admin-template/contest/edit/_layout/base.html' %}
{%block contestcontent %}
		
	<div class="content">
		<div class="container-fluid">
			<div class="row justify-content-md-center">
				<div class="col-xl-6">
					<div class=""></div>
					<div class="mt-40">
						<a type="" target="_blank" class="btn btn-primary mt-3 float-right" href="export/contestants" type="button">Export danh sách thí sinh</a>
                        <br>
                        <a type="" target="_blank" class="btn btn-primary mt-3 float-right" href="export/result" type="button">Export kết quả</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{%endblock%}