{%extends 'admin-template/contest/edit/_layout/base.html' %}
{%block contestcontent %}
		
	<div class="content">
		<div class="container-fluid">
			<div class="row justify-content-md-center">
				<div class="col-xl-6">
					<div class=""></div>
					<div class="mt-40">
						<form action="" method="post" enctype='multipart/form-data'>
							{% csrf_token %}
							Tùy chọn: 
                            <select name="mdImport">
                                {%for x in options%}
                                    <option value="{{x.value}}">{{x.name}}</option>
                                {%endfor%}
                            </select>
                            <br>
                            <input type="file" name="listUsersFile[]" multiple accept=".xls">
                            <br>
							<button type="submit" class="btn btn-primary mt-3 float-right" type="submit">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{%endblock%}