{%extends 'admin-template/contest/edit/_layout/base.html' %}
{%load static%}
{%block contestcontent %}
	
	<link href="{% static 'plugins/bootstrap4-toggle/bootstrap4-toggle.min.css' %}" rel="stylesheet">
	<div class="row justify-content-md-center">
		<div class="col col-xl-8">
			<table class="table table-hover table-borderred">
				<thead>
					<tr class="bg-light">
						<th class="text-center">ID</th>
						<th class="text-center">Tên bài</th>
						<th class="text-center">Chế độ</th>
						<th class="text-center end-text">Sửa</th>
						<th class="text-center end-text">Xóa</th>
					</tr>
				</thead>
				<tbody>
					{%for problem in list_problems%}
						<tr>
							<td class="text-center">{{problem.shortname}}</td>
							<td class="text-center">{{problem.fullname}}</td>
							<td class="text-center">{%if problem.is_public%}Công khai{%else%}Riêng tư{%endif%}</td>
							<td class="text-center"><a class = "btn btn-warning" href="/admin/problems/edit/{{problem.shortname}}">Sửa</a></td>
							<td class="text-center"><button class = "btn btn-danger" onClick="deleteProblem('{{problem.shortname}}')">Xóa</button></td>
						</tr>
					{%endfor%}
				</tbody>
			</table>
			<hr>
			<div>
				<div class="row">
					<form class="col-12" action="" method="post">
						<div class="frmSearch">
							{% csrf_token %}
							<div class="input-group mt-3">
								<div class="input-group-prepend">
									<div class="input-group-text" style="width: 200px">Tên bài:</div>
								</div>
								<input type="text" class="form-control" id="search-box"  autocomplete="off" placeholder="Tên bài">
							</div>

							<div class="col-11"><div class="list-group" role="tablist" id="suggesstion-box"></div></div><br>

							<div class="input-group mt-3 mb-6">
								<div class="input-group-prepend">
									<div class="input-group-text" style="width: 200px">Phương thức</div>
								</div>
								<input type="checkbox" onchange="onChange()" id="pmethod" name="copy" data-toggle="toggle" data-on="Sao chép ra một bài khác" data-off="Gán bài tập này vào kỳ thi" data-onstyle="success" data-offstyle="info" style="width:400px">
							</div>

							<input name="shortname" id="shortname" type="hidden">

							<!-- Khi nào cái checkbox ở trên nó checked thì cái input này mới hiện ra cho người dùng nhập vô-->
							<div class="input-group mt-3 mb-6">
								<div class="input-group-prepend">
									<div class="input-group-text" style="width: 200px">ID mới của bài:</div>
								</div>
								<input type="text" disabled class="form-control" id="new_shortname" name="new_shortname">
							</div>
							<div class="row">
								<div class="col-12">
									<div style="text-align:center;">
										<input class = "btn btn-primary" type="submit" value="Thực thi">
									</div>
								</div>
							</div>

							<script>
								function onChange() {
									document.getElementById('new_shortname').disabled = !document.getElementById('pmethod').checked;
								}
								onChange();
							</script>
						</div>
					</form>
				</div>
				<hr>
				<form action="" method="get">
					<div class="text-center">
						<a class="btn btn-warning text-center" href="/admin/contests/edit/{{contest.id}}/problems/create">Tạo bài tập mới</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="{% static 'plugins/bootstrap4-toggle/bootstrap4-toggle.min.js'%}"></script>
	<script>
	$(document).ready(function(){
		$("#search-box").keyup(function(){
			if ($('#search-box').val() == '') {
				$("#shortname").val('');
				$("#suggesstion-box").html('');
				return;
			}

			$.ajax({
				type: "GET",
				url: "/admin/contests/edit/{{contest.id}}/api/problems",
				data:'name='+$(this).val(),
				beforeSend: function(){
					$("#search-box").css("background","#FFF no-repeat 165px");
					$("#shortname").val('');
				},
				success: function(data){
					$("#suggesstion-box").show();

					let result = '';
					let first = true;
					for (shortname in data) {
						if (first) {
							$("#shortname").val(shortname);
							first = false;
						}
						fullname = data[shortname];
						result += '<li class="list-group-item list-group-item-action" onClick="selectProblem(\'' + shortname + '\')">' + shortname + ' - ' + fullname + '</li>';
					}
					
					$("#suggesstion-box").html(result);
					$("#search-box").css("background","#FFF");
				}
			});
		});
	});

	function deleteProblem(shortname) {
		$.ajax('/admin/contests/edit/{{contest.id}}/problems/' + shortname + '/remove', {
			type: 'post',
			success: function (data,status,xhr) {
				location.reload();
			},
			error: function (jqXhr, textStatus, errorMessage) {
				//alert('that bai');
			}
		});
	}

	function selectProblem(val) {
		$("#search-box").val(val);
		$("#suggesstion-box").hide();
		$("#shortname").val(val);
	}
	</script>
{%endblock%}