{%load static%}
{%block footer%}
    <!-- Footer -->
    <footer class="page-footer font-small blue" style="height: 3rem">
        <div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
            <!--begin::Copyright-->
            <div class="text-dark order-2 order-md-1">
                <span class="text-muted font-weight-bold mr-2">2021©</span>
                <a href="https://online.hcmute.edu.vn/" target="_blank" class="text-dark-75 text-hover-primary">HCMUTE</a>
            </div>
            <!--end::Copyright-->
            <!--begin::Nav-->
            <div class="nav nav-dark">
                <a href="http://fit.hcmute.edu.vn/" target="_blank" class="nav-link pl-0 pr-5">Thông tin</a>
                <a href="http://fit.hcmute.edu.vn/" target="_blank" class="nav-link pl-0 pr-5">Người thực hiện</a>
                <a href="http://fit.hcmute.edu.vn/" class="nav-link pl-0 pr-0">Liên hệ</a>
            </div>
            <!--end::Nav-->
        </div>
        <!--end::Container-->
    </footer>
    <!-- Footer -->
{% endblock %}