*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}

.img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 950px;
}

.img img{
    width: 950px;
}

.login-container{
    display: flex;
    width: 800px;
    align-items: center;
    text-align: center;
}

.avatar{
    height: 400px;
}

form{
    width: 700px;
    height: 900px;
}

form h4{
    font-size: 1.9rem;
    text-transform: uppercase;
    color: #333;
    margin-left: auto;
    text-align: center;
    align-content: center;
}

.message{
    font-size: 1rem;
    color: red;
}

.input-div{
    display: grid;
    width: 500px;
    grid-template-columns: 7% 93%;
    margin: 30px 100px;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.input-div.first{
    margin-top: 0;
}

.input-div.second{
    margin-bottom: 4px;
}

.i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.i i{
    background-color: transparent;
}

.input-div > div{
    position: relative;
    height: 45px;
}

.input-div > div h5{
    position: absolute;
    left: 50px;
    top: 23%;
    transform: translateX(-50%);
    color: #999;
    font-size: 18px;
    transition: .3s;
}

.input-div.focus .i i{
    color: #FF63E5;
}

.input-div.focus div h5{
    top: -10px;
    font-size: 15px;
}

.input-div::after, .input-div::before{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #FF63E5;
    transition: .4s;
}

.input-div::after{
    right: 50%;
}

.input-div::before{
    Left: 50%;
}

.input{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    color: #555;
}

a{
    display: block;
    text-align: right;
    margin-right: 100px;
    text-decoration: none;
    color: #999;
    font-size: 1.2rem;
    transform: .3s;
}

a:hover{
    color: #FF63E5;
}

.btn{
    display: block;
    width: 500px;
    height: 50px;
    border-radius: 25px;
    margin: 1rem 100px;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #F05FDA, #FF63E5, #FFB7F2);
    cursor: pointer;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    background-size: 200%;
    transition: .5s;
}

.btn:hover{
    background-position: right;
}

@media screen and (max-width: 1450px){
    .container{
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1000px){
    form{
        width: 290px;
    }
    form h4{
        font-size: 2.4rem;
        margin: 8px 0;
    }
    .img, .img img, .avatar{
        width: 350px;
        height: auto;
    }

    .container{
        padding-right: 0rem;
    }
    
    .login-container{
        width: 400px;
    }

    .input-div, .btn{
        margin-left: -25px;
        width: 400px;
    }

    a{
        margin-right: -50px;
    }


}