{%extends 'admin-template/_layout/base.html' %}
{%block website_content %}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
                <div class="col-12 mb-3">
                    <div class="text-center">
                        <p class="text-success fs-4">Edit problem {{problem.shortname}}</p>
                    </div>
                </div>
				{% include 'admin-template/_layout/error_handle.html' %}
				<div >
					<nav>
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
                            {%block problem_header %}
                            {%endblock%}
						</div>
					</nav>
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="nav-home">
							<div class="container">
								<form method="post" action="" enctype="multipart/form-data">
									{%csrf_token%}
									<div class="row">
										<div class="col-12 mb-3">
											{%block problem_details %}
											{%endblock%}
										</div>
										<div class="col-12 mb-3">
											<div class="text-center">
												<input class="btn btn-primary" type="submit" value="Save change">
											</div>
										</div>
									</div>
								</form>
								<form method="post" action="testcases/uploadzip/" enctype="multipart/form-data">
									{%csrf_token%}
									<div class="mb-3">
										<label class="form-label">Upload zip</label>
										<select class="form-select" aria-label="Default select example" name="filetype">
											<option value="themis" selected>Themis format</option>
											<option value="combine">Combine format</option>
										</select>
										<input class="form-control" type="file" name="zip_testcases" accept=".zip">
									</div>
									<input class="btn btn-primary" type="submit" value="Save change">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.content-header -->
{%endblock%}