{%extends 'admin-template/problem/_layout/base.html'%}
{%block problem_details%}
<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="input-group mb-3">
                    <span class="input-group-text">Time limit</span>
                    <input name="time_limit" type="text" class="form-control" id="modal-time-limit" placeholder="example: 1000" value="{{testcase.time_limit}}">
                    <span class="input-group-text">ms</span>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Memory limit</span>
                    <input name="memory_limit" type="text" class="form-control" id="modal-memory-limit" placeholder="example: 65536" value="{{testcase.memory_limit}}">
                    <span class="input-group-text">KB</span>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Points</span>
                    <input name="points" type="text" class="form-control" id="modal-points" placeholder="example: 65536" value="{{testcase.points}}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Tag</span>
                    <input name="tag" type="text" class="form-control" id="modal-tag" placeholder="" value="{{testcase.tag}}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Input file</label>
                    <input class="form-control" type="file" name="input_file">
                </div>
                <div class="mb-3">
                    <label class="form-label">Output file</label>
                    <input class="form-control" type="file" name="output_file">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function onEditTestcase(testid, testpk) {
        $('#exampleModalLabel').text('Test #' + testid.toString());
        $('#modal-time-limit').val($('#' + 'time_limit_' + testid.toString()).text());
        $('#modal-memory-limit').val($('#' + 'memory_limit_' + testid.toString()).text());
        $('#modal-points').val($('#' + 'points_' + testid.toString()).text());
        $('#modal-tag').val($('#' + 'tag_' + testid.toString()).text());
        $('#exampleModal').modal('toggle');
    }
</script>
{%endblock%}