{%extends 'admin-template/problem/_layout/base.html'%}
{%block problem_header %}
    <a href="details" class="nav-link">Details</a>
    <a href="problemsetter" class="nav-link">Problemsetter</a>
    <a href="testcases" class="nav-link">Testcases</a>
    <a href="languages" class="nav-link active">Languages</a>
    <a href="settings" class="nav-link">Settings</a>
    <a href="customchecker" class="nav-link">Custom checker</a>
{%endblock%}
{%block problem_details%}
<div class="row">
    lang
</div>
{%endblock%}