{%extends 'admin-template/_layout/base.html' %}
{%block website_content %}
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-left">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active">Problem</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<!-- /.content-header -->
	<!-- Main content -->
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-8 col-sm-8">
					<div class="card-body p-0">
						<table class="table table-hover table-bordered">
							<thead>
								<tr>
									<th style="width: 20px">#</th>
									<th style="text-align: center">Name</th>
									<th style="width: 100px;text-align: center">Difficult</th>
									<th style="width: 100px;text-align: center">Solved</th>
									<th style="width: 70px">&nbsp;</th>
									<th style="width: 60px">&nbsp;</th>
								</tr>
							</thead>
							<tbody>
								{% for x in list_problem %}

								<tr>
									<td><a href="/problems/{{x.shortname}}">{{x.id}}</a></td>
									<td>
										<div>
											<a href="/problems/{{x.shortname}}" style="float: left; font-size: 18px;">{{x.fullname}}</a>
										</div>
										<div>
										{%for y in x.categories%}
											<a href="/admin/problems/?category={{y}}" type="button" class= "btn btn-outline-secondary" style="float: right; font-size: 10px; margin-left: 5px; padding: 3px 6px">{{y}}</a>
										{% endfor %}
										</div>
									</td>
									<td style="text-align: center">{{x.difficult}}</td>
									<td style="text-align: center">0</td>
									<td style="text-align: center;color: red">ACM</td>
									<td style="text-align: center"><a href=""><i class="fa fa-wrench"></i></a></td>
								</tr>

								{% endfor%}
							</tbody>
						</table>
					</div>
					<!-- /.card-body -->
				</div>
			</div>
		</div>
	</div>
	<!-- /.content -->
{%endblock%}
