{%extends 'admin-template/_layout/base.html' %}
{%load static%}
{%block website_content %}
	<!--begin::Subheader-->
	<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
		<div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
			<!--begin::Info-->
			<div class="d-flex align-items-center flex-wrap mr-2" style="font-family: 'san-serif';">
				<!--begin::Page Title-->
				<h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Trang chủ</h5>
				<!--end::Page Title-->
				<!--begin::Actions-->
				<div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
				<!--end::Actions-->
				<!--begin::Page Title-->
				<h6 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Thông tin cá nhân</h6>
				<!--end::Page Title-->
				<!--begin::Actions-->
				<div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
				<!--end::Actions-->
			</div>
			<!--end::Info-->
		</div>
	</div>
	<!--end::Subheader-->
    {%include 'admin-template/_layout/error_handle.html' %} 
    {%block error_handle %}{%endblock%}
	<div class="content">
        <div class="container-fluid">
            <form method="POST" url="" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="row justify-content-xl-center">
					<div class="col-xl-7">
						<div class="form-group">
                            <label for="lang_name">PREFIX :</label>
                            <input type="text" class="form-control" name="prefix"/>
                        </div>
						<div class="form-group">
                            <label for="lang_name">SUFFIX :</label>
                            <input type="text" class="form-control" name="suffix"/>
                        </div>
                        <div class="form-group">
                            <label for="lang_name">File :</label>
                            <input type="file" class="form-control" name="userexcelfile"/>
                        </div>
					</div>
				</div>
				<div class="row" style="margin-top:5px;">
					<div class="col-12">
						<div class="text-center">
							<input class="btn btn-primary" role="button" type="submit" value="Bắt đầu">
						</div>
					</div>
				</div>
			</form>
			<form method="post" id="delete-user" action="/admin/users/delete/{{username}}/">
				{% csrf_token %}
			</form>
        </div>
    </div>
	<script src="{% static 'user/js/profile.js' %}"></script>
	{%if exportFile%}
		<script>
			var a = document.createElement('a');
			a.href = "{{exportFile}}";
			a.download = 'download';
			a.click();
		</script>
	{%endif%}
{%endblock%}
