{%extends 'admin-template/_layout/base.html' %}
{%block website_content %}
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 mb-3">
					{% include 'admin-template/_layout/error_handle.html' %}
				</div>
				<div class="col-12 mb-3">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Username</th>
								<th scope="col">First name</th>
								<th scope="col">Last name</th>
								<th scope="col">Date joined</th>
								<th scope="col">Is active</th>
							</tr>
						</thead>
						<tbody>
							{% for u in page_obj %}
								<tr>
									<th scope="row">{{u.id}}</th>
									<td><a href="/admin/users/edit/{{u.username}}">{{u.username}}</a></td>
									<td>{{u.first_name}}</td>
									<td>{{u.last_name}}</td>
									<td>{{u.date_joined}}</td>
									<td>{{u.is_active}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- /.content-header -->
{%endblock%}