{%extends 'admin-template/_layout/base.html' %}
{%load static%}
{%block website_content %}
	<!--begin::Subheader-->
	<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
		<div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
			<!--begin::Info-->
			<div class="d-flex align-items-center flex-wrap mr-2" style="font-family: 'san-serif';">
				<!--begin::Page Title-->
				<h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Trang chủ</h5>
				<!--end::Page Title-->
				<!--begin::Actions-->
				<div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
				<!--end::Actions-->
				<!--begin::Page Title-->
				<h6 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Tài khoản thí sinh	</h6>
				<!--end::Page Title-->
				<!--begin::Actions-->
				<div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
				<!--end::Actions-->
			</div>
			<!--end::Info-->
		</div>
	</div>
	<!--end::Subheader-->
    {%include 'admin-template/_layout/error_handle.html' %} 
    {%block error_handle %}{%endblock%}
	<!-- /.content-header -->
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-9">
					<div class="card-body">
						<table class="table table-hover table-bordered" id="table_id" style="background-color: white;">
							<thead onclick="">
								<tr>
									<th style="width: 60px; text-align: center">#</th>
									<th style="text-align: center">Tên đăng nhập</th>
									<th style="width: 200px; text-align: center">Họ</th>
									<th style="width: 200px; text-align: center">Tên</th>
									<th style="width: 250px; text-align: center">Ngày tham gia</th>
									<th style="width: 100px; text-align: center">Còn hoạt động</th>
									<th style="width: 100px; text-align: center">&nbsp;</th>
								</tr>
							</thead>
							<tbody>
								{% for x in page_obj %}

								<tr>
									<td id="{{x.fullname}}" style="text-align: center"><a href="/admin/users/edit/{{x.username}}/">{{x.id}}</a></td>
									<td style="text-align: center"><a href="/admin/users/edit/{{x.username}}/" style="float: left; font-size: 18px;">{{x.username}}</a></td>
									<td style="text-align: center">{{x.first_name}}</td>
									<td style="text-align: center">{{x.last_name}}</td>
									<td style="text-align: center;color: darkgrey">{{x.date_joined}}</td>
									<td style="text-align: center">
										{% if x.is_active %} <p style="color: blueviolet">{{x.is_active}}</p>
										{% else %} <p style="color: red;">{{x.is_active}}</p>
										{% endif %}
									</td>
									<td style="text-align: center;"><a href=""><i class="fa fa-wrench"></i></a></td>
								</tr>

								{% endfor%}
							</tbody>
						</table>

						<input type="hidden" id="page_current" value="{{page_obj.number}}">
						<input type="hidden" id="page_total" value="{{page_obj.paginator.num_pages}}">
						<nav aria-label="Page navigation example" style="margin-top: 2rem;">
							<ul class="pagination justify-content-center" id="Pagination">
								<li class="page-item" id="previous" onclick="previous()">
									<a class="page-link" href = "javascript:;" tabindex="-1">Trang trước</a>
								</li>
								<li class="page-item" id="next" onclick="next()">
									<a class="page-link" href="javascript:;">Trang sau</a>
								</li>
								</ul>
						</nav>

					</div>
					<!-- /.card-body -->
				</div>

				<div class = "col-xl-3 d-none d-xl-block">
					<div class="card">
						<div class="card-header text-center"><b>Lọc thí sinh</b></div>
						<div class="card-body">
							<form>
								<div class="filterByName">
									<label for="search">Tên đăng nhập</label>
									<span style="float: right; width: 50%">
										<input type="text" id="search" placeholder="User Name" style="width: 100%;">
									</span>
								</div>
								
								<div id = "listNumber">
									<label class="mt-3">Số lượng:</label>
									<select class="custom-select float-right" style="width: 50%; font-size: 14px; height: 40px">
										<option selected value="0"> 10 người</option>
										<option value="1">15 người</option>
										<option value="2">20 người</option>
										<option value="3">25 người</option>
										<option value="4">30 người</option>
									</select>
								</div>
								<a class="btn btn-primary" style="margin-top: 10px" onclick="goNewPage(1)">Tìm kiếm</a>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	
	<script src="{% static 'user/js/listContestants.js' %}"></script>
	<!-- /.content -->
{%endblock%}