{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=ed   ge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'auth-template/css/style.css' %}">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
</head>
<body>
    <div class="container">
        <div class="login-container">
            <form action="/login/" method="POST">
                
                {% csrf_token %}
                {% if login_error %}
                    <script type="text/javascript">
                        alert('{{login_error}}');
                    </script>
                {% endif %}

                <img class = "avatar" src="{% static 'auth-template/img/avatar.png' %}">
                <h4>HCMUTE Online Judge</h4>
                <h6 class = "message">Message here<h6>
                <div class="input-div first">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div>
                        <h5>Username</h5>
                        <input type="text" class="input" name = "username">
                    </div>
                </div>

                <div class="input-div second">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div>
                        <h5>Password</h5>
                        <input type="password" class="input" name = "password">
                    </div>
                </div>
                <a href="#">Forgot Password?</a>
                <input type="submit" class="btn" value="Login" text = "Login">
            </form>
        </div>
    </div>

    <script src="{% static 'auth-template/js/main.js' %}"></script> 
</body>
</html>