{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css'%}"/>
		<link rel="stylesheet" href="{% static 'auth-template/css/login.css' %}" />
		<link rel="stylesheet" href="{% static 'admin-static/css/base.css'%}" />
		<title>HCMUTE OJ | Sign In</title>
	</head>
	<body>
		<!-- Container -->
		<div class="container1" id="container1">
			<!-- Row -->
			<div class="row">
				<div class="col align-center flex-col sign-up"> </div>
				<div class="col align-center flex-col sign-in">
					<div class="form-wrapper align-center">
						<form class="form sign-in" action="/login/" method="POST">
                            {% csrf_token %}

							<div class="input-group">
								<i class="bx bxs-user"></i>
								<input type="text" placeholder="Username" name="username"/>
							</div>
							<div class="input-group">
								<i class="bx bxs-lock-alt"></i>
								<input type="password" placeholder="Password" name="password"/>
							</div>
							
							{%include 'user-template/_layout/error_handle.html' %} 
							{%block error_handle %}{%endblock%}

							<button type = "submit">Sign in</button>
							<p style = "font-size: 16px">
								<b>Forgot password?</b>
							</p>
							<p style = "font-size: 12px">
								<span> Don't have an account? </span>
								<b id="sign-up">
                                    <a href="/signup/">Sign up here</a>
                                </b>
							</p>
						</form>
					</div>

					<div class="form-wrapper">
						<div class="social-list align-center sign-in">
							<div class="align-center facebook-bg">
								<i class="bx bxl-facebook"></i>
							</div>
							<div class="align-center google-bg">
								<i class="bx bxl-google"></i>
							</div>
							<div class="align-center twitter-bg">
								<i class="bx bxl-twitter"></i>
							</div>
							<div class="align-center instagram-bg">
								<i class="bx bxl-instagram-alt"></i>
							</div>
						</div>
					</div>
				</div>
                
			</div>
            
			<div class="row content-row">
				<div class="col align-items flex-col">
					<div class="text sign-in">
						<h2>Welcome Back</h2>
					</div>
					<div class="img sign-in">
						<img src="{%static 'auth-template/img/login/bg1.svg' %}" alt="" />
					</div>
				</div>
			</div>
		</div>

		<script src="{% static 'auth-template/js/login.js' %}"></script>
		<script src="{% static 'plugins/jquery/jquery.min.js'%}"></script>
		<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
	</body>
</html>
