{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="{% static 'auth-template/css/signup.css' %}" />
		<link rel="stylesheet" href="{% static 'admin-static/css/base.css'%}" />
		<title>HCMUTE OJ | Sign Up</title>
	</head>
	<body>
		<!-- Container -->
		<div class="container1" id="container1">
			<!-- Row -->
			<div class="row">
				<div class="col align-center flex-col sign-up">
					<div class="form-wrapper align-center">
						<form class="form sign-up" action="/signup/" method = "POST">
							{% csrf_token %}
							{% if signup_error %}
                                <h3 class = "message" style="color: red;">Message here<h3>
                                <script type="text/javascript">
                                    const error = document.querySelectorAll('.message')[0];
                                    error.textContent = '{{signup_error}}';
                                </script>
                            {% endif %}
							{% if signup_sucess %}
                                <h3 class = "message" style="color: green;">Message here<h3>
                                <script type="text/javascript">
                                    const error = document.querySelectorAll('.message')[0];
                                    error.textContent = '{{signup_sucess}}';
                                </script>
                            {% endif %}
							<div class="input-group">
								<i class="bx bxs-user"></i>
								<input type="text" placeholder="Username" name="username"/>
							</div>
							<div class="input-group">
								<i class="bx bx-mail-send"></i>
								<input type="email" placeholder="Email" name="email"/>
							</div>
							<div class="input-group">
								<i class="bx bxs-lock-alt"></i>
								<input type="password" placeholder="Password" name="password1"/>
							</div>
							<div class="input-group">
								<i class="bx bxs-lock-alt"></i>
								<input type="password" placeholder="Confirm password" name="password2"/>
							</div>

							{%include 'admin-template/_layout/error_handle.html' %} 
							{%block error_handle %}{%endblock%}

							<button>Sign up</button>
							<p style = "font-size: 12px">
								<span>Already have an account?</span>
								<b id="sign-in">
									<a href="/login/">Sign in here</a>
								</b>
							</p>
						</form>
					</div>

					<div class="form-wrapper">
						<div class="social-list align-center sign-up">
							<div class="align-center facebook-bg">
								<i class="bx bxl-facebook"></i>
							</div>
							<div class="align-center google-bg">
								<i class="bx bxl-google"></i>
							</div>
							<div class="align-center twitter-bg">
								<i class="bx bxl-twitter"></i>
							</div>
							<div class="align-center instagram-bg">
								<i class="bx bxl-instagram-alt"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col align-center flex-col"></div>

			</div>
            
			<div class="row content-row">
				<div class="col align-items flex-col"></div>
				<div class="col align-items flex-col">
					<div class="img sign-up">
						<img src="{%static 'auth-template/img/signup/bg2.svg' %}" alt="" />
					</div>
					<div class="text sign-up">
						<h2>Join with us</h2>
					</div>
				</div>
			</div>
		</div>

		<!-- Script -->
		<script src="{% static 'auth-template/js/signup.js' %}"></script>
	</body>
</html>
